{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        checkEHR
        {% endblock %}
    </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
</head>
<body>
<main class="container">

    {% block navbar %}
    <!-- - [ ] @TODO: (2018-06-13) @later drop this in favour of Flask-Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('main.index', 'Home', use_li=True) }}
            </ul>

        {# Make it clear in the navbar which database you are connected too #}
        <span id='database_url'
                class="navbar-text"
                style="cursor: pointer"
                 onclick="window.location.href = 
                    '{{ g.db._db.database_url }}';"
                >
            {% if '127' in g.db._db.database_url %}
                Database: {{g.db._db.database_url}} <span class="badge badge-pill badge-danger" > testing  </span>
            {% else %}
                Database: {{g.db._db.database_url}} <span class="badge badge-primary" > Non-testing </span>
            {% endif %}
        </span>
        
        </div>
    </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2018 Steve Harris </small>
        {% endblock %}
    </footer>

</main>


{{ bootstrap.load_js() }}
</body>
</html>