{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <h5>Collaborative validation of Electronic Healthcare Record data</h5>
</div>

<table id='id_list_table' class='table table-striped table-hover'>
    <caption>List of fields in database</caption>
    <thead class='thead-dark'>
        <tr>
            <th scope="col">id</th>
            <th scope="col">SNOMED</th>
            <th scope="col">Short hand</th>
        </tr>
    </thead>
    <tbody>
        
    {% for doc in g.db %}
        <tr scope="row">
            <td>{{ doc['_id'] }}</td>
            <td>{{ doc['labels']['snomed'] }}</td>
            <td>{{ doc['labels']['human'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
